.statistics{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
 
}

p{
  margin: 0 ;
  color: #4e545c;
  font-size: 24px;
  align-items:  flex-end;
 
}

span{
  font-size: 24px;
  color: #4e545c;
  border-bottom: 1px solid #8492a6;
  display: flex;
  align-items:  flex-end;
  justify-content: space-between;
  margin-top: 10px;

}