.container-app{
  display: flex;
  margin: 0 auto;
  width: 400px;
  border: 2px solid #e3e3e3;
  background: #eff6ff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 30px;
}

.title{

  margin: 0 auto;
  text-align: center;
}